.footer {
  background: $white;
  padding-top: 30px;
  padding-bottom: 20px;

  &-title {
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  a {

    &:hover {
      color: theme-color('secondary');
    }
  }

  &-notice {
    margin-bottom: 0;

    a {
      color: $gray-500;
      font-weight: 700;
    }
  }

  p {
    font-weight: 700;
    font-size: 18px;
  }

  form {

    .btn {
      width: 100%;
    }
  }
}
