.m-header {
  position: relative;

  .fas {
    position: absolute;
    font-size: 100px;
    color: $gray-200;
    transform: rotate(15deg);

    @include media-breakpoint-up(md) {
      font-size: 160px;
    }
  }

  .fa {

    &-parking {
      top: 35px;
      right: 100px;
    }

    &-car {
      top: 120px;
      left: 25px;
    }

    @include media-breakpoint-up(md) {

      &-parking {
        top: 35px;
        right: 30px;
      }

      &-car {
        top: 120px;
        left: 15px;
      }
    }
  }

  &-content {
    position: relative;
    margin: 70px 0 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      position: relative;
      font-size: 48px;
      font-weight: bold;

      &:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 4px;
        background: theme-color('secondary');
      }
    }

    p {
      font-size: 32px;
      margin-top: 20px;
    }

    @include media-breakpoint-up(md) {

      h1 {
        font-size: 70px;
      }
    }

    @include media-breakpoint-up(lg) {
      margin: 100px 0 45px 0;
    }
  }

  img {
    position: relative;
    width: 100%;
    max-width: 530px;
    z-index: 9;
  }
}
